In [3]:
import pandas as pd

# Series Concatenation

In [3]:
ser1=pd.Series(['A', 'B', 'C'], index=[1,2,3])
ser1

1    A
2    B
3    C
dtype: object

In [7]:
ser2=pd.Series(['D', 'E', 'F'], index=[4,5,6])
ser2

4    D
5    E
6    F
dtype: object

In [8]:
# Concat() function  for concatenating the series
# stack the series one below the other
print("Concatenated Series is \n", pd.concat([ser1, ser2]))

Concatenated Series is
 1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [11]:
ser3=pd.Series(['F', 'G', 'H'], index=[9,10,11])
ser3

9     F
10    G
11    H
dtype: object

In [12]:
list=[ser1,ser2,ser3]
print(pd.concat(list))

1     A
2     B
3     C
4     D
5     E
6     F
9     F
10    G
11    H
dtype: object

# DataFrame Concatenation

In [15]:
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}) # create DataFrame as a Dictionary of list
df1

     A    B    C
0  axe  bat  cat
1  art  bar  cap
2  ant  bin  car

In [18]:
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}) # create DataFrame as a Dictionary of list
df2

     D    E    F
0  dog  ear  fan
1  den  eat  fat
2  dot  egg  fog

# Concatenation can be rowwise one DF below another axis=0
# columns stacked alongside axis=1

In [19]:
print("Concatenated DataFrame axis=0\n", pd.concat([df1,df2], axis=0))

Concatenated DataFrame axis=0
      A    B    C    D    E    F
0  axe  bat  cat  NaN  NaN  NaN
1  art  bar  cap  NaN  NaN  NaN
2  ant  bin  car  NaN  NaN  NaN
0  NaN  NaN  NaN  dog  ear  fan
1  NaN  NaN  NaN  den  eat  fat
2  NaN  NaN  NaN  dot  egg  fog

In [21]:
print("Concatenated DataFrame axis=1\n", pd.concat([df1,df2], axis=1))

Concatenated DataFrame axis=1
      A    B    C    D    E    F
0  axe  bat  cat  dog  ear  fan
1  art  bar  cap  den  eat  fat
2  ant  bin  car  dot  egg  fog

In [22]:
df3=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}) # create DataFrame as a Dictionary of list
df1

     A    B    C
0  axe  bat  cat
1  art  bar  cap
2  ant  bin  car

In [23]:
df4=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'B' :['ear', 'eat', 'egg'], 'C' :['fan', 'fat', 'fog']}) # create DataFrame as a Dictionary of list
df4

     D    B    C
0  dog  ear  fan
1  den  eat  fat
2  dot  egg  fog

In [25]:
print("Concatenated DataFrame axis=0\n", pd.concat([df3,df4], axis=0))# axis = 0 overlapping is there
# for overlapping columns the values are also stacked below
# concatenation  with axis = 0 considers the overlap of columns

Concatenated DataFrame axis=0
      A    B    C    D
0  axe  bat  cat  NaN
1  art  bar  cap  NaN
2  ant  bin  car  NaN
0  NaN  ear  fan  dog
1  NaN  eat  fat  den
2  NaN  egg  fog  dot

In [26]:
print("Concatenated DataFrame axis=1\n", pd.concat([df3,df4], axis=1)) # axis = 1 no overlapping
# for overlapping columns the values are also stacked below
# concatenation  with axis = 1 considers the overlap of columns

Concatenated DataFrame axis=1
      A    B    C    D    B    C
0  axe  bat  cat  dog  ear  fan
1  art  bar  cap  den  eat  fat
2  ant  bin  car  dot  egg  fog

In [28]:
print("Concatenated DataFrame axis=0\n", pd.concat([df1,df2], ignore_index=True)) # generated new indexes of DataFrame

Concatenated DataFrame axis=0
      A    B    C    D    E    F
0  axe  bat  cat  NaN  NaN  NaN
1  art  bar  cap  NaN  NaN  NaN
2  ant  bin  car  NaN  NaN  NaN
3  NaN  NaN  NaN  dog  ear  fan
4  NaN  NaN  NaN  den  eat  fat
5  NaN  NaN  NaN  dot  egg  fog

In [29]:
print("Concatenated DataFrame axis=1\n", pd.concat([df1,df2], ignore_index=True))

Concatenated DataFrame axis=1
      A    B    C    D    E    F
0  axe  bat  cat  NaN  NaN  NaN
1  art  bar  cap  NaN  NaN  NaN
2  ant  bin  car  NaN  NaN  NaN
3  NaN  NaN  NaN  dog  ear  fan
4  NaN  NaN  NaN  den  eat  fat
5  NaN  NaN  NaN  dot  egg  fog

In [32]:
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=0\n", pd.concat([df1,df2], axis=0))

     A    B    C
0  axe  bat  cat
1  art  bar  cap
2  ant  bin  car
     D    E    F
0  dog  ear  fan
1  den  eat  fat
2  dot  egg  fog
Concatenation DataFrames axis=0
      A    B    C    D    E    F
0  axe  bat  cat  NaN  NaN  NaN
1  art  bar  cap  NaN  NaN  NaN
2  ant  bin  car  NaN  NaN  NaN
0  NaN  NaN  NaN  dog  ear  fan
1  NaN  NaN  NaN  den  eat  fat
2  NaN  NaN  NaN  dot  egg  fog

In [33]:
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=1\n", pd.concat([df1,df2], axis=1)) #with repeated columns, it will just append the columns and consider common rows

     A    B    C
0  axe  bat  cat
1  art  bar  cap
2  ant  bin  car
     D    E    F
0  dog  ear  fan
1  den  eat  fat
2  dot  egg  fog
Concatenation DataFrames axis=1
      A    B    C    D    E    F
0  axe  bat  cat  dog  ear  fan
1  art  bar  cap  den  eat  fat
2  ant  bin  car  dot  egg  fog

In [34]:
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=0\n", pd.concat([df1,df2], ignore_index=True))

     A    B    C
0  axe  bat  cat
1  art  bar  cap
2  ant  bin  car
     D    E    F
0  dog  ear  fan
1  den  eat  fat
2  dot  egg  fog
Concatenation DataFrames axis=0
      A    B    C    D    E    F
0  axe  bat  cat  NaN  NaN  NaN
1  art  bar  cap  NaN  NaN  NaN
2  ant  bin  car  NaN  NaN  NaN
3  NaN  NaN  NaN  dog  ear  fan
4  NaN  NaN  NaN  den  eat  fat
5  NaN  NaN  NaN  dot  egg  fog

### Axis=0 
# Concatenation just appends on DataFrame below another
# Considers the intersection of columns stacks values for them one below other
# rowwise indices if there is repeatation it reins the repeatations

### Axis=1 
# Concatenation just appends alongside the other columns are put together
# Considers the intersection of rows stacks values for them one on the side of the other
# columns indices(columns name) if there is repeatation it reins the repeatations

In [36]:
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}, index=[1,2,3]) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}, index=[1,2,3]) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=0\n", pd.concat([df1,df2], ignore_index=True))

     A    B    C
1  axe  bat  cat
2  art  bar  cap
3  ant  bin  car
     D    E    F
1  dog  ear  fan
2  den  eat  fat
3  dot  egg  fog
Concatenation DataFrames axis=0
      A    B    C    D    E    F
0  axe  bat  cat  NaN  NaN  NaN
1  art  bar  cap  NaN  NaN  NaN
2  ant  bin  car  NaN  NaN  NaN
3  NaN  NaN  NaN  dog  ear  fan
4  NaN  NaN  NaN  den  eat  fat
5  NaN  NaN  NaN  dot  egg  fog

In [37]:
# case for no common columns
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}, index=[1,2,3]) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}, index=[1,2,3]) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=1\n", pd.concat([df1,df2], axis=1))

     A    B    C
1  axe  bat  cat
2  art  bar  cap
3  ant  bin  car
     D    E    F
1  dog  ear  fan
2  den  eat  fat
3  dot  egg  fog
Concatenation DataFrames axis=1
      A    B    C    D    E    F
1  axe  bat  cat  dog  ear  fan
2  art  bar  cap  den  eat  fat
3  ant  bin  car  dot  egg  fog

* eg: of two files having common ampides and different columns
* one file has name and address
* another file has dept. salary

In [38]:
# case for common columns
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}, index=[1,2,3]) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}, index=[2,3,4]) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=1\n", pd.concat([df1,df2], axis=1))

     A    B    C
1  axe  bat  cat
2  art  bar  cap
3  ant  bin  car
     D    E    F
2  dog  ear  fan
3  den  eat  fat
4  dot  egg  fog
Concatenation DataFrames axis=1
      A    B    C    D    E    F
1  axe  bat  cat  NaN  NaN  NaN
2  art  bar  cap  dog  ear  fan
3  ant  bin  car  den  eat  fat
4  NaN  NaN  NaN  dot  egg  fog

In [39]:
# case for common rows indices columns
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}, index=[1,2,3]) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}, index=[2,3,4]) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=1\n", pd.concat([df1,df2], axis=1))

     A    B    C
1  axe  bat  cat
2  art  bar  cap
3  ant  bin  car
     D    E    F
2  dog  ear  fan
3  den  eat  fat
4  dot  egg  fog
Concatenation DataFrames axis=1
      A    B    C    D    E    F
1  axe  bat  cat  NaN  NaN  NaN
2  art  bar  cap  dog  ear  fan
3  ant  bin  car  den  eat  fat
4  NaN  NaN  NaN  dot  egg  fog

In [40]:
# case for no common rows indices columns
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}, index=[1,2,3]) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}, index=[4,5,6]) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=1\n", pd.concat([df1,df2], axis=1))

     A    B    C
1  axe  bat  cat
2  art  bar  cap
3  ant  bin  car
     D    E    F
4  dog  ear  fan
5  den  eat  fat
6  dot  egg  fog
Concatenation DataFrames axis=1
      A    B    C    D    E    F
1  axe  bat  cat  NaN  NaN  NaN
2  art  bar  cap  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
4  NaN  NaN  NaN  dog  ear  fan
5  NaN  NaN  NaN  den  eat  fat
6  NaN  NaN  NaN  dot  egg  fog

In [41]:
# case for no common rows indices columns
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}, index=[1,2,3]) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}, index=[4,5,6]) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=0\n", pd.concat([df1,df2], axis=0))
# concatenation on axis=0 stacks the rows repeatition of the row is retained, stack the overlappingcolumn values
# concatenation of axis=1 stacks the columns repeatition of the column is retained, stack the overlapping row values

     A    B    C
1  axe  bat  cat
2  art  bar  cap
3  ant  bin  car
     D    E    F
4  dog  ear  fan
5  den  eat  fat
6  dot  egg  fog
Concatenation DataFrames axis=0
      A    B    C    D    E    F
1  axe  bat  cat  NaN  NaN  NaN
2  art  bar  cap  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
4  NaN  NaN  NaN  dog  ear  fan
5  NaN  NaN  NaN  den  eat  fat
6  NaN  NaN  NaN  dot  egg  fog

In [42]:
# case for no common rows indices columns
df1=pd.DataFrame({'A' :['axe', 'art', 'ant'], 'B' :['bat', 'bar', 'bin'], 'C' :['cat', 'cap', 'car']}, index=[1,2,3]) # create DataFrame as a Dictionary of list
df2=pd.DataFrame({'D' :['dog', 'den', 'dot'], 'E' :['ear', 'eat', 'egg'], 'F' :['fan', 'fat', 'fog']}, index=[4,5,6]) # create DataFrame as a Dictionary of list
print(df1)
print(df2)
print("Concatenation DataFrames axis=1\n", pd.concat([df1,df2], axis=1))
# concatenation on axis=0 stacks the rows repeatition of the row is retained, stack the overlappingcolumn values
# concatenation of axis=1 stacks the columns repeatition of the column is retained, stack the overlapping row values

     A    B    C
1  axe  bat  cat
2  art  bar  cap
3  ant  bin  car
     D    E    F
4  dog  ear  fan
5  den  eat  fat
6  dot  egg  fog
Concatenation DataFrames axis=1
      A    B    C    D    E    F
1  axe  bat  cat  NaN  NaN  NaN
2  art  bar  cap  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
4  NaN  NaN  NaN  dog  ear  fan
5  NaN  NaN  NaN  den  eat  fat
6  NaN  NaN  NaN  dot  egg  fog

In [ ]:
## Merge is based on common columns

In [44]:
df_stud = pd.DataFrame({'St_id' :[101, 102,103,104,105], 'Branch' :['IT', 'CS', 'ECE', 'CS', 'MECH']})
df_stud

   St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   MECH

In [49]:
df_fac = pd.DataFrame({'F_id' :[110, 120,130,140,150],'F_name' :['A', 'B', 'C', 'D', 'E'], 'Branch' :['ECE', 'MECH', 'EEE', 'IT', 'CS']})
print("Student DataFrame:\n", df_stud, '\n Faculty DataFrame :\n', df_fac)

Student DataFrame:
    St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   MECH
 Faculty DataFrame :
    F_id F_name Branch
0   110      A    ECE
1   120      B   MECH
2   130      C    EEE
3   140      D     IT
4   150      E     CS

In [50]:
df_fac = pd.DataFrame({'F_id' :[110, 120,130,140,150],'F_name' :['A', 'B', 'C', 'D', 'E'], 'Branch' :['ECE', 'MECH', 'EEE', 'IT', 'CS']})
print("Student DataFrame:\n", df_stud, '\n Faculty DataFrame :\n', df_fac)
df_fac

Student DataFrame:
    St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   MECH
 Faculty DataFrame :
    F_id F_name Branch
0   110      A    ECE
1   120      B   MECH
2   130      C    EEE
3   140      D     IT
4   150      E     CS

   F_id F_name Branch
0   110      A    ECE
1   120      B   MECH
2   130      C    EEE
3   140      D     IT
4   150      E     CS

In [51]:
df_fac = pd.DataFrame({'F_id' :[110, 120,130,140,150],'F_name' :['A', 'B', 'C', 'D', 'E'], 'Branch' :['ECE', 'MECH', 'EEE', 'IT', 'CS']})
print("Student DataFrame:\n", df_stud, '\n Faculty DataFrame :\n', df_fac)
df_fac
print(pd.concat([df_stud,df_fac], axis=1))

Student DataFrame:
    St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   MECH
 Faculty DataFrame :
    F_id F_name Branch
0   110      A    ECE
1   120      B   MECH
2   130      C    EEE
3   140      D     IT
4   150      E     CS
   St_id Branch  F_id F_name Branch
0    101     IT   110      A    ECE
1    102     CS   120      B   MECH
2    103    ECE   130      C    EEE
3    104     CS   140      D     IT
4    105   MECH   150      E     CS

In [52]:
df_fac = pd.DataFrame({'F_id' :[110, 120,130,140,150],'F_name' :['A', 'B', 'C', 'D', 'E'], 'Branch' :['ECE', 'MECH', 'EEE', 'IT', 'CS']})
print("Student DataFrame:\n", df_stud, '\n Faculty DataFrame :\n', df_fac)
df_fac
print(pd.merge(df_stud,df_fac,on='Branch', sort=True))

Student DataFrame:
    St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   MECH
 Faculty DataFrame :
    F_id F_name Branch
0   110      A    ECE
1   120      B   MECH
2   130      C    EEE
3   140      D     IT
4   150      E     CS
   St_id Branch  F_id F_name
0    102     CS   150      E
1    104     CS   150      E
2    103    ECE   110      A
3    101     IT   140      D
4    105   MECH   120      B

In [54]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd'],'data2' :[3,6,9]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9

In [57]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd'],'data2' :[3,6,9]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print("Outer Join :\n", pd.merge(df1,df2,on='key', how='outer', sort=True))  # union of keys

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
Outer Join :
   key  data1  data2
0   a      4    3.0
1   b      0    6.0
2   d      6    9.0
3   e      8    NaN

In [60]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd'],'data2' :[3,6,9]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print("Inner Join :\n", pd.merge(df1,df2,on='key', how='inner', sort=True))  # intersection of keys

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
Inner Join :
   key  data1  data2
0   a      4      3
1   b      0      6
2   d      6      9

In [62]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'],'data2' :[3,6,9,11]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11

In [69]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'],'data2' :[3,6,9,11]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print("Left Join :\n", pd.merge(df1,df2,on='key', how='left', sort=True))  # keys of let dataframe

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11
Left Join :
   key  data1  data2
0   a      4    3.0
1   b      0    6.0
2   d      6    9.0
3   e      8    NaN

In [68]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'],'data2' :[3,6,9,11]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print("Right Join :\n", pd.merge(df1,df2,on='key', how='right', sort=True))  # keys from right dataframe

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11
Right Join :
   key  data1  data2
0   a    4.0      3
1   b    0.0      6
2   d    6.0      9
3   f    NaN     11

In [63]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'],'data2' :[3,6,9,11]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print("Outer Join :\n", pd.merge(df1,df2,on='key', how='outer', sort=True))  # union of keys

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11
Outer Join :
   key  data1  data2
0   a    4.0    3.0
1   b    0.0    6.0
2   d    6.0    9.0
3   e    8.0    NaN
4   f    NaN   11.0

In [64]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'],'data2' :[3,6,9,11]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print("Inner Join :\n", pd.merge(df1,df2,on='key', how='inner', sort=True))  # intersection of keys

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11
Inner Join :
   key  data1  data2
0   a      4      3
1   b      0      6
2   d      6      9

### Summary of the above
#### One One join with four cases outer, inner, left and right

In [4]:
#many one merge
df1=pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a','a'], 'data1':[10,20,30,40,50,60]})
df2=pd.DataFrame({'key':['a', 'b', 'd'], 'data2':[100, 200, 300]})
print("\n", df1)
print("\n", df2)
#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# union of keys 
#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))    
# intersection of keys 
#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))  
#  keys from left dataframe
print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))   
#  keys from right  dataframe

   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60

   key  data2
0   a    100
1   b    200
2   d    300
Right Join:
   key  data1  data2
0   a   30.0    100
1   a   50.0    100
2   a   60.0    100
3   b   10.0    200
4   b   20.0    200
5   d    NaN    300

In [5]:
#many one merge
df1=pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a','a'], 'data1':[10,20,30,40,50,60]})
df2=pd.DataFrame({'key':['a', 'b', 'd'], 'data2':[100, 200, 300]})
print("\n", df1)
print("\n", df2)
print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# union of keys 
#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))    
# intersection of keys 
#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))  
#  keys from left dataframe
#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))   
#  keys from right  dataframe

   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60

   key  data2
0   a    100
1   b    200
2   d    300
Outer Join:
   key  data1  data2
0   a   30.0  100.0
1   a   50.0  100.0
2   a   60.0  100.0
3   b   10.0  200.0
4   b   20.0  200.0
5   c   40.0    NaN
6   d    NaN  300.0

In [6]:
#many one merge
df1=pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a','a'], 'data1':[10,20,30,40,50,60]})
df2=pd.DataFrame({'key':['a', 'b', 'd'], 'data2':[100, 200, 300]})
print("\n", df1)
print("\n", df2)
#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# union of keys 
print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))    
# intersection of keys 
#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))  
#  keys from left dataframe
#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))   
#  keys from right  dataframe

   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60

   key  data2
0   a    100
1   b    200
2   d    300
Inner Join:
   key  data1  data2
0   a     30    100
1   a     50    100
2   a     60    100
3   b     10    200
4   b     20    200

In [7]:
#many one merge
df1=pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a','a'], 'data1':[10,20,30,40,50,60]})
df2=pd.DataFrame({'key':['a', 'b', 'd'], 'data2':[100, 200, 300]})
print("\n", df1)
print("\n", df2)
#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# union of keys 
#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))    
# intersection of keys 
print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))  
#  keys from left dataframe
#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))   
#  keys from right  dataframe

   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60

   key  data2
0   a    100
1   b    200
2   d    300
Left Join:
   key  data1  data2
0   a     30  100.0
1   a     50  100.0
2   a     60  100.0
3   b     10  200.0
4   b     20  200.0
5   c     40    NaN

In [8]:
# Many many merge
df1 =pd. DataFrame({'key' : ['b', 'b', 'a','c', 'a', 'a'], 'data1': [10,20,30,40,50,60]})  
#has multiple rows labelled a and b
df2 = pd.DataFrame({'key' : ['a', 'b', 'b', 'a', 'd'], 'data2': [100,200,300,400,500]})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to many  merge situation
#No of rows in the dataframe = 6x5 for outer

print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# Union of keys 

#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))   
# Intersection of keys

#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))    
#  keys from left dataframe

#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # 
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60
DataFrame2 :
   key  data2
0   a    100
1   b    200
2   b    300
3   a    400
4   d    500
Outer Join:
    key  data1  data2
0    a   30.0  100.0
1    a   30.0  400.0
2    a   50.0  100.0
3    a   50.0  400.0
4    a   60.0  100.0
5    a   60.0  400.0
6    b   10.0  200.0
7    b   10.0  300.0
8    b   20.0  200.0
9    b   20.0  300.0
10   c   40.0    NaN
11   d    NaN  500.0

In [9]:
# Many many merge
df1 =pd. DataFrame({'key' : ['b', 'b', 'a','c', 'a', 'a'], 'data1': [10,20,30,40,50,60]})  
#has multiple rows labelled a and b
df2 = pd.DataFrame({'key' : ['a', 'b', 'b', 'a', 'd'], 'data2': [100,200,300,400,500]})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to many  merge situation
#No of rows in the dataframe = 6x5 for outer

#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# Union of keys 

print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))   
# Intersection of keys

#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))    
#  keys from left dataframe

#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # 
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60
DataFrame2 :
   key  data2
0   a    100
1   b    200
2   b    300
3   a    400
4   d    500
Inner Join:
   key  data1  data2
0   a     30    100
1   a     30    400
2   a     50    100
3   a     50    400
4   a     60    100
5   a     60    400
6   b     10    200
7   b     10    300
8   b     20    200
9   b     20    300

In [10]:
# Many many merge
df1 =pd. DataFrame({'key' : ['b', 'b', 'a','c', 'a', 'a'], 'data1': [10,20,30,40,50,60]})  
#has multiple rows labelled a and b
df2 = pd.DataFrame({'key' : ['a', 'b', 'b', 'a', 'd'], 'data2': [100,200,300,400,500]})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to many  merge situation
#No of rows in the dataframe = 6x5 for outer

#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# Union of keys 

#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))   
# Intersection of keys

print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))    
#  keys from left dataframe

#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # 
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60
DataFrame2 :
   key  data2
0   a    100
1   b    200
2   b    300
3   a    400
4   d    500
Left Join:
    key  data1  data2
0    a     30  100.0
1    a     30  400.0
2    a     50  100.0
3    a     50  400.0
4    a     60  100.0
5    a     60  400.0
6    b     10  200.0
7    b     10  300.0
8    b     20  200.0
9    b     20  300.0
10   c     40    NaN

In [11]:
# Many many merge
df1 =pd. DataFrame({'key' : ['b', 'b', 'a','c', 'a', 'a'], 'data1': [10,20,30,40,50,60]})  
#has multiple rows labelled a and b
df2 = pd.DataFrame({'key' : ['a', 'b', 'b', 'a', 'd'], 'data2': [100,200,300,400,500]})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to many  merge situation
#No of rows in the dataframe = 6x5 for outer

#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# Union of keys 

#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))   
# Intersection of keys

print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))    
#  keys from left dataframe

#print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # 
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60
DataFrame2 :
   key  data2
0   a    100
1   b    200
2   b    300
3   a    400
4   d    500
Left Join:
    key  data1  data2
0    a     30  100.0
1    a     30  400.0
2    a     50  100.0
3    a     50  400.0
4    a     60  100.0
5    a     60  400.0
6    b     10  200.0
7    b     10  300.0
8    b     20  200.0
9    b     20  300.0
10   c     40    NaN

In [12]:
# Many many merge
df1 =pd. DataFrame({'key' : ['b', 'b', 'a','c', 'a', 'a'], 'data1': [10,20,30,40,50,60]})  
#has multiple rows labelled a and b
df2 = pd.DataFrame({'key' : ['a', 'b', 'b', 'a', 'd'], 'data2': [100,200,300,400,500]})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to many  merge situation
#No of rows in the dataframe = 6x5 for outer

#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# Union of keys 

#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))   
# Intersection of keys

#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))    
#  keys from left dataframe

print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))     # 
#Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60
DataFrame2 :
   key  data2
0   a    100
1   b    200
2   b    300
3   a    400
4   d    500
Right Join:
    key  data1  data2
0    a   30.0    100
1    a   50.0    100
2    a   60.0    100
3    a   30.0    400
4    a   50.0    400
5    a   60.0    400
6    b   10.0    200
7    b   20.0    200
8    b   10.0    300
9    b   20.0    300
10   d    NaN    500